<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <input v-model="size">
            <button @click="start">
                初始化
            </button>
            <button @click="aiplay">
                AI下棋
            </button>
        </div>
        <canvas id="canvas" :width="canvasWidth" :height="canvasHeight" @click="chess"></canvas>
        <ul>
            <li v-for="str in history">{{str}}</li>
        </ul>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                path: "ws://127.0.0.1:5678",
                socket: "",
                message: 'Hello Vue!',
                size: 10,
                history: [],
                data: [],
                context: {},
                perdict:[],
                canvasWidth: 800,
                canvasHeight: 800
            }
        },
        mounted() {
            // 初始化
            this.init()
            let canvas = document.getElementById('canvas')
            this.ctx = canvas.getContext('2d')
            this.print();
        },
        methods: {
            init: function () {
                if (typeof (WebSocket) === "undefined") {
                    alert("您的浏览器不支持socket")
                } else {
                    // 实例化socket
                    this.socket = new WebSocket(this.path)
                    // 监听socket连接
                    this.socket.onopen = this.open
                    // 监听socket错误信息
                    this.socket.onerror = this.error
                    // 监听socket消息
                    this.socket.onmessage = this.getMessage
                }
            },
            open: function () {
                console.log("socket连接成功")
            },
            error: function () {
                console.log("连接错误")
            },
            getMessage: function (msg) {
                console.log(msg)
                if(msg.data=="get"){
                    return ;
                }
                this.history.push(msg.data);
                let data = JSON.parse(msg.data);
                if (data.type == "win") {
                    alert("win")
                } else if(data.type=="data"){
                    this.data = data.data;
                    this.print();
                } else if(data.type =="predict"){
                    this.predict = data.data;
                    this.print();
                }
            },
            send: function (str) {
                this.history.push(str);
                this.socket.send(str)
            },
            close: function () {
                console.log("socket已经关闭")
            },
            aiplay: function(){
                this.send(JSON.stringify({ type: 'aiplay' }))
            },
            start: function () {
                this.send(JSON.stringify({ type: 'start', data: this.size }))
            },
            chess: function (e) {
                if (!(e.layerX % (this.canvasWidth / this.size) == 0 || e.layerY % (this.canvasHeight / this.size) == 0)) {
                    this.send(JSON.stringify({ type: 'chess', data: [Math.ceil(e.layerX / (this.canvasWidth / this.size)), Math.ceil(e.layerY / (this.canvasHeight / this.size))] }))
                }
            },
            print: function () {
                this.ctx.fillStyle = 'white';
                this.ctx.fillRect(0,0,this.canvasWidth,this.canvasHeight);
                this.ctx.fillStyle = 'black';
                console.log(this.data.length)
                let size = parseInt(this.size);
                let w = this.canvasWidth / size;
                for (let s = w; s < this.canvasWidth; s += w) {
                    this.ctx.beginPath();//开始绘制
                    this.ctx.lineWidth = 1;
                    this.ctx.strokeStyle = 'blue';
                    this.ctx.moveTo(0, s);//坐标起点
                    //线的端点是圆，还可以是butt(正方)，square(正方，但是追加一段长为线段厚度一半的矩形区域)
                    this.ctx.lineCap = 'round';
                    this.ctx.lineTo(this.canvasHeight, s);//终点,或者理解为下一个点
                    this.ctx.stroke();
                }
                let h = this.canvasHeight / size;
                for (let s = h; s < this.canvasHeight; s += h) {
                    this.ctx.beginPath();//开始绘制
                    this.ctx.lineWidth = 1;
                    this.ctx.strokeStyle = 'blue';
                    this.ctx.moveTo(s, 0);//坐标起点
                    //线的端点是圆，还可以是butt(正方)，square(正方，但是追加一段长为线段厚度一半的矩形区域)
                    this.ctx.lineCap = 'round';
                    this.ctx.lineTo(s, this.canvasHeight);//终点,或者理解为下一个点
                    this.ctx.stroke();
                }
                for (let x = 0; x < size; x++) {
                    let xw = w / 2 + x * w;
                    for (let y = 0; y < size; y++) {
                        let yh = h / 2 + y * h;
                        this.ctx.beginPath();
                        this.ctx.lineWidth = 1;
                        this.ctx.strokeStyle = 'black';
                        if (this.data[x * size + y] == 1) {
                            this.ctx.fillStyle = 'red';
                            console.log(x, y)
                        } else if (this.data[x * size + y] == 2) {
                            this.ctx.fillStyle = 'yellow';
                        } else {
                            this.ctx.lineWidth = 1;
                            this.ctx.strokeStyle = 'white';
                            this.ctx.fillStyle = 'white';
                        }
                        //(x,y,半径,开始角度，结束角度)，通过这个可以绘制出曲线
                        this.ctx.arc(xw, yh, w / 2 * 0.8, 0, 2 * Math.PI);
                        this.ctx.stroke();
                        this.ctx.fill();

                        this.ctx.strokeStyle = 'black';
                        number = x * size + y;
                        let pre = this.predict.filter(e=>e.xy==number);
                        let rate = 0;
                        if(pre.length>0){
                            rate = pre[0].rate;
                        }
                        this.ctx.font = 'bold 35px Arial';
                        this.ctx.strokeText(rate, xw, yh);
                        console.log(123)
                    }
                }
            }
        },
        destroyed() {
            // 销毁监听
            this.socket.onclose = this.close
        }
    })
</script>

</html>