<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <input v-model="size">
        <button @click="start">
            初始化
        </button>
        <button @click="chess">
            发射
        </button>
        <button @click="send('1230')">
            发射
        </button>
        <ul>
            <li v-for="str in history">{{str}}</li>
        </ul>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                path: "ws://127.0.0.1:5678",
                socket: "",
                message: 'Hello Vue!',
                size:10,
                history:[]
            }
        },
        mounted() {
            // 初始化
            this.init()
        },
        methods: {
            init: function () {
                if (typeof (WebSocket) === "undefined") {
                    alert("您的浏览器不支持socket")
                } else {
                    // 实例化socket
                    this.socket = new WebSocket(this.path)
                    // 监听socket连接
                    this.socket.onopen = this.open
                    // 监听socket错误信息
                    this.socket.onerror = this.error
                    // 监听socket消息
                    this.socket.onmessage = this.getMessage
                }
            },
            open: function () {
                console.log("socket连接成功")
            },
            error: function () {
                console.log("连接错误")
            },
            getMessage: function (msg) {
                this.history.push(msg.data);
                console.log(msg.data)
            },
            send: function (str) {
                this.history.push(str);
                this.socket.send(str)
            },
            close: function () {
                console.log("socket已经关闭")
            },
            start:function(){
                this.send(JSON.stringify({type:'start',data:8}))
            },
            chess:function(){
                this.send(JSON.stringify({type:'chess',data:[1,2]}))
            }
        },
        destroyed() {
            // 销毁监听
            this.socket.onclose = this.close
        }
    })
</script>

</html>